<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
  <br>
  Appointments: <br><% @doctor.appointments.each do |a| %>
  <%= link_to a.patient.name, patient_path(a)%> -- <%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M') %><br>
  <%end%>

</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
